# Ignore Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# Ignore environment and dependency files
venv/
.env
*.log

# Ignore database (if using SQLite)
db.sqlite3

# Ignore Django secret key (optional, if in a file)
secrets.json

# Ignore service account credentials (IMPORTANT!)
verdict-450320-f27feda8d266.json
