<!-- newsletter/templates/newsletter/about_us.html -->
{% extends 'newsletter/base.html' %}

{% block title %}about us{% endblock %}

{% block content %}
  <h1>about us</h1><br>

    <p style="font-size: 20px;">
    The <i>Columbia Law Verdict</i> is a student-run newsletter devoted to building community and elevating student voices at CLS. Our newsletter publishes interviews, advice, opinions, and creative work throughout the semester. We seek to achieve our community-building goals by creating a shared experience for all CLS students while offering a forum for open and respectful discourse, all in accordance with our core values of fairness, accountability, and respect.
  </p>
{% endblock %}