<!-- newsletter/templates/newsletter/about_us.html -->
{% extends 'newsletter/base.html' %}

{% block title %}about us{% endblock %}

{% block content %}
  <h1>about us</h1><br>

  <p>
    As per our Constitution, to best promote our goal of building and strengthening
    the Columbia Law School community, the Verdict embraces three core values:
    fairness, accountability, and respect.
  </p>

  <p>Fairness</p>
  <p>
    The Verdict is a strictly and formally impartial organization. All members of
    the Verdict are committed to putting aside their personal views, opinions, and
    beliefs when acting in their official capacity. The Verdict shall not issue
    an advocacy statement taking a position on any issue not directly connected to
    the Verdict’s operations. The Verdict shall not reprint, highlight, or otherwise
    support an advocacy statement of another organization.
  </p>

  <p>Accountability</p>
  <p>
    The Verdict is an accountable and transparent organization. All members of the
    Verdict are committed to the content of the Verdict’s issues. The Verdict shall
    only publish pieces that are publicly attributed to an identifiable author. The
    Verdict shall not publish pieces written by anonymous individuals, nor shall it
    publish pieces by groups without individual attribution.
  </p>

  <p>Respect</p>
  <p>
    The Verdict is committed to respect within both the organization itself and the
    CLS community. All members of the Verdict are committed to respecting their peers,
    their school, and their profession. The Verdict shall not publish personal attacks,
    hatred, bigotry, or any other form of discrimination. The Verdict strongly encourages
    decorum and respect in all its activities.
  </p>
{% endblock %}