{% extends "newsletter/base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- Insert your top artwork -->
<div class="text-center mb-4">
  <!-- If "jgh_artwork.png" is placed in 'static/newsletter/' -->
  <img 
    src="{% static 'newsletter/jgh_artwork.png' %}" 
    class="img-fluid" 
    alt="JGH Artwork"
    style="max-height: 150px;"
  >
</div>

{% for volume, issues in grouped_volumes %}
  {% for issue_num, articles_in_issue in issues %}
  {% with issue_date=articles_in_issue.0.date %}
  <p style="color:#9b9b9b; text-align: center;">
    issue {{ issue_num }} | 
    {% if issue_date %}
      {{ issue_date|date:"F j, Y"|lower }}
      {# "F j, Y" -> "December 3, 2024", then "|lower" -> "december 3, 2024" #}
    {% endif %}
  </p>
{% endwith %}
    
    {% for article in articles_in_issue %}
      <div class="mb-4">
        <!-- Big Title -->
        <h8 ><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h8>
        <!-- Writer in gray -->
        <div style="color: #666;">
          by {{ article.writer }}
        </div>
        <!-- Preview text -->
        <p>{{ article.preview_text|linebreaks }}</p>
      </div>
    {% endfor %}
  {% endfor %}
{% endfor %}

{% endblock %}