{% extends "newsletter/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

  {% for issue_number, articles_in_issue in grouped_issues %}
    <p style="text-align: center; color: #9b9b9b;">issue {{ issue_number }}</p>
    <ul class="list-unstyled">
      {% for article in articles_in_issue %}
        <li>
          <a href="{% url 'show_article' article.id %}" class="text-decoration-none">
            {{ article.title }} (by {{ article.writer }})
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
{% endblock %}