<!-- newsletter/templates/newsletter/join_our_team.html -->
{% extends 'newsletter/base.html' %}

{% block title %}join our team{% endblock %}

{% block content %}
  <h1>join our team</h1>
  <br><br>
  <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfloiYaQPAzs1qpL4aj_UEN2msfjyxqe58GKaGfRfVhwgr3Rw/viewform">APPLY HERE</a></p>
  <br>
  <p>We're building our writer team to incorporate a range of voices from across the community. Membership applications are open year-round and reviewed on a rolling basis.</p>

  <p>Membership benefits include:</p>
  <ul>
    <li>Experience substantive interactions with faculty through interviews</li>
    <li>Vote on which student submissions we publish</li>
    <li>Forge a stronger connection with the CLS community</li>
    <li>Access cutting-edge advice prior to publication</li>
  </ul>
  
{% endblock %}