<!-- newsletter/templates/newsletter/join_our_team.html -->
{% extends 'newsletter/base.html' %}

{% block title %}join our team{% endblock %}

{% block content %}
  <h1>join our team</h1>
  <br><br>
  <p style="font-size: 20px;">We're building our writer team to incorporate a range of voices from across the community. Membership applications are open year-round, and we review them on a rolling basis.</p>
  <p style="font-size: 20px; text-align: center;"><a style="color: #3b4caf;" href="https://docs.google.com/forms/d/e/1FAIpQLSfloiYaQPAzs1qpL4aj_UEN2msfjyxqe58GKaGfRfVhwgr3Rw/viewform">apply here</a></p>
  <br>
  

{% endblock %}