<!-- newsletter/templates/newsletter/submissions.html -->
{% extends 'newsletter/base.html' %}

{% block title %}submissions{% endblock %}

{% block content %}
  <h1>submissions</h1>
  <br><br>
  <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf7NqKzvBc__m8gXW2zjT8u1hS_kPqCuRy4o00Zej2amgSA_Q/viewform">SUBMIT HERE</a></p>

  <p>Here's an outline of the submissions process:</p>

  <p>1. Submit your piece</p>
  <p>Have advice, opinions, or a creative work you'd like published? Send it to us for consideration during our regular meetings. Note that all submissions must be attributed to their authors and conform with our core values of fairness, accountability, and respect.</p>

  <p>2. Selection</p>
  <p>Submissions are voted on by the Verdict membership. We're looking for original, relevant, and well-written pieces that contribute to the CLS community.</p>

  <p>3. Editing</p>
  <p>If your piece is selected, it will be sent to the editing team, where you'll work with one of our writers to bring out the best of your ideas.</p>

  <p>4. Get published!</p>
  <p>Your work will be published in our newsletter and made available on our website.</p>
{% endblock %}