<!-- newsletter/templates/newsletter/submissions.html -->
{% extends 'newsletter/base.html' %}

{% block title %}comments/submissions{% endblock %}

{% block content %}
   <h1>submissions</h1><br><br>

   <p style="font-size: 20px;">Have advice, opinions, or a creative work you'd like published in <i>The Verdict</i>? Submit it! Our editorial guidelines are available <a href="https://docs.google.com/document/d/10gNuu1fqrCptL2mfLUW1vkLsL-H0Z_k3pkjTP5kx-LE/edit?tab=t.0">here</a>. We look forward to publishing your work.</p>
  
  <p style="text-align: center; font-size: 20px;"><a style="color: #3b4caf;" href="https://docs.google.com/forms/d/e/1FAIpQLSf7NqKzvBc__m8gXW2zjT8u1hS_kPqCuRy4o00Zej2amgSA_Q/viewform">submit pieces here</a></p>
  
  <br>
<hr style="border: 0; border-top: 1pt solid rgb(133, 114, 108); margin: 0;">
<br><br>

  <p style="font-size: 20px;">Do you have thoughts on one of our pieces? Feel free to leave a brief comment or response—we'd love to share your thoughts.</p>
  <p style="text-align: center; font-size: 20px;"><a style="color: #3b4caf;" href="https://docs.google.com/forms/d/e/1FAIpQLSd8oCLNzOdJprueNZsR-dYH5oLnNHYlCgWGmfw3AA4A_Jw5-w/viewform">submit responses here</a></p>
  
  <br>
<hr style="border: 0; border-top: 1pt solid rgb(133, 114, 108); margin: 0;">
<br><br>

<p style="font-size: 20px;">Questions, comments, or corrections? We'll do our best to incorporate your feedback in our future publications.</p>
  <p style="text-align: center; font-size: 20px;"><a style="color: #3b4caf;" href="https://docs.google.com/forms/d/e/1FAIpQLScp71YQmV_NJHmKHINZLp_Z20aaSvAyVYvwetPNL3JtGbOZdQ/viewform">submit feedback here</a></p>

  <br><br>

<br><br>
{% endblock %}