<!-- newsletter/templates/newsletter/submissions.html -->
{% extends 'newsletter/base.html' %}

{% block title %}submissions{% endblock %}

{% block content %}
   <h1>submissions</h1>

  <br><br>
  <p style="text-align: center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSf7NqKzvBc__m8gXW2zjT8u1hS_kPqCuRy4o00Zej2amgSA_Q/viewform">SUBMIT HERE</a></p>
  <br><br>

  <p>Have advice, opinions, or a creative work you'd like published in <i>The Verdict</i>? Submit it! Our editorial guidelines are available <a href="https://docs.google.com/document/d/10gNuu1fqrCptL2mfLUW1vkLsL-H0Z_k3pkjTP5kx-LE/edit?tab=t.0">here</a>. We look forward to publishing your work.</p>
<br><br>
{% endblock %}